body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
    color: #333;
}

h1 {
    margin: 20px 0;
}

.opciones img {
    width: 120px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.opciones img:hover {
    transform: scale(1.2);
}

#imgComputador {
    width: 150px;
    margin-top: 15px;
}

#resultado {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  
}

button:hover {
    background: #0056b3;
}